# Core LangChain
langchain
langchain-core
langchain-community
langchain-openai
langgraph

# Search Tool
tavily-python

# Web Scraping
beautifulsoup4
lxml
requests

# Mistral AI
langchain-mistralai

# Environment Variables
python-dotenv

# Validation
pydantic

# Logging / Utilities
typing-extensions


fastapi
uvicorn